# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# System Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Dapr
dapr_cli/
# If 'dapr' is a binary file in root
dapr

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
