apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-query
  namespace: cage
  labels:
    app: service-query
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-query
  template:
    metadata:
      labels:
        app: service-query
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "service-query"
        dapr.io/app-port: "8080"
        dapr.io/config: "appconfig"
    spec:
      containers:
      - name: service-query
        image: harbor.maclab.wynnmacau.com/cage/service-query:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: MongoDB__ConnectionString
          value: "mongodb://mongodb:27017"
        - name: MongoDB__DatabaseName
          value: "DaprSagaDB"
        - name: nacos__ServerAddresses__0
          value: "http://nacos:8848"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 5
